<html>
<head>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <link rel='shortcut icon' href='/static/images/favicon.ico' type='image/x-icon'/ >

    <style>
        body {
            font-family: newspaper;
        }
        h1  {
            font-family: typewriter;
        }
    </style>

</head>
<body>

    <script>

        
    </script>
    <section>
        <div class="container">

            <!-- nav bar -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">5 Kilo Adventures Ltd</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/paper/home">News</a></li>
                        <li><a href="/paper/stocks">Stocks</a></li>
                        <li><a href="/paper/map">Maps</a></li>
                        <li><a href="/paper/essays">Essays</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">
                        <div id="line-example"></div>
                        <script>

                        $(document).ready( function () {
                            console.log( "## Welcome to the magical world of Stocks ## ");
                            $.get( '/paper/stocks/tvs', function ( stock_data1){

                                var stock_data = stock_data1; //.slice ( 1,30);

                                Morris.Line({
                                  element: 'line-example',
                                  data: stock_data,
                                  xkey: 'Date',
                                  ykeys: ['Close'], //['Close', 'Volume'],
                                  labels: 'Price'//['Price', 'Volume']
                                });
                            });
                        });


                            // Morris.Line({
                            //   element: 'line-example',
                            //   data: [
                            //     { y: '2006', a: 100, b: 90 },
                            //     { y: '2007', a: 75,  b: 65 },
                            //     { y: '2008', a: 50,  b: 40 },
                            //     { y: '2009', a: 75,  b: 65 },
                            //     { y: '2010', a: 50,  b: 40 },
                            //     { y: '2011', a: 75,  b: 65 },
                            //     { y: '2012', a: 100, b: 90 }
                            //   ],
                            //   xkey: 'y',
                            //   ykeys: ['a', 'b'],
                            //   labels: ['Series A', 'Series B']
                            // });
                        </script>
                    </div>

                    <div class="col-sm-3"></div>

                </div><!-- end row-->

            </div>

            </div> <!-- end container-->
        </div> <!-- end container-->
    </section

</body>
</html>
