<!DOCTYPE html>
<html>
    <head>
        <title>Zen Leaves | Karthik Raghunathan</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    </head>

    <style>


        img {
            padding:5px;
            margin:5px;
            border:solid 8px black;
        }
        body {
            background-color:ivory;
        }
        footer {
            position: fixed;
            bottom: 0;
            /*height: 100px;*/
            /*width: 100%;*/
            margin-bottom: 15px;
        }


    </style>
<body>

<div class="container-fluid">


    {% for imug3 in imugs | batch(3) %}
        <div class="row" style="margin-top:150px;">
            <div class="col-sm-2" >
            </div>
            {% for imug in imug3%}
                <div class="col-sm-3" >
                    <div class="card text-center" style="width: 20rem;">
                        <img class="card-img-top" src="/static/images/thumbnail/{{imug}}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title"> </h4>
                            <p class="card-text"> </p>
                            <a href="#" style="font-family:newspaper;color:black">{{imug}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>

</body>
</html>
