<!DOCTYPE html>
<html>
    <head>
        <title>Zen Leaves | Karthik Raghunathan</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    </head>

    <style>

        img {
            width:333px;
            height:222px;
        }
        body {
            background-color:ivory;
        }
        footer {
            position: fixed;
            bottom: 0;
            /*height: 100px;*/
            /*width: 100%;*/
            margin-bottom: 15px;
        }


    </style>
<body>

<div class="container-fluid">

    <div class="row" style="margin-top:150px">
        <div class="col-sm-4" >
        </div>
        <div class="col-sm-8" >
            <img src="/static/images/zl.png" class="center-block">
        </div>
    </div>


    <div class="row">
        <div class="col-sm-8" >

        </div>
        <div class="col-sm-4" >
            <footer style="padding:10px">

                <span style="font-family:newspaper;font-size: 20px">
                    <b>Karthik Raghunathan</b>
                </span>
                <!--<br> &nbsp-->
                     <a href="https://www.postergully.com/collections/karthik-raghunathan/products/zen-leaves-square-metal-prints-artist-karthik-raghunathan">Buy</a>
                    <a href="https://www.postergully.com/collections/karthik-raghunathan">Browse</a>
                    <a href="mailto:goingkilo_at_gmail.com">Contact</a>
            </footer>
        </div>
    </div>


</div>

</body>
</html>
