<script type="text/javascript" src="/static/js/jquery.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/fonts.css">
<script type="text/javascript" src="/static/js/bootstrap.js"></script>

<meta charset="UTF-8"/>

 <style>

     body {
         font-family: newspaper;
     }
     h1  {
         font-family: typewriter;
     }
     form {
         display: inline-block;
     }
     .form-group {
         text-align: center;
         padding-bottom: 25px;
     }

     li {
         border-bottom: solid 1px black;
     }

     li:hover {
         background-color: #B6CDE5;
     }

     #my_date {
         float:right;
     }

    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {display: inline;}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

    ul.pagination li a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    ul.pagination li a:hover:not(.active) {background-color: #ddd;}

    div.right {
        text-align: right;
        margin-top: 4px;
    }
     div.center {
         text-align: center;
         margin-top: 4px;
     }

 </style>
<script>

    $(document).ready(function(){
        console.log('loading paper' + new Date());
        $('#my_date').text( get_date() );
    });
</script>

<body>

<section>
    <div class="container">

        <!-- row 1 --->
        <div class="row" style="margin-top:4px; text-align: center;">
            <div class="col-md-12">
                <h1>
                    The Evening Monocle
                </h1>
            </div>
        </div>

        <div style="border : solid 1px grey;"></div>
        <div>
            <div>
                goingkilo@gmail.com
                <div id='my_date'></div>
            </div>


        </div>

        <div style="border : solid 1px black;"></div>
        <!-- row 2 --->
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">

                <div class="center">
                    {{selectedpage}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="right">
                    <ul class="pagination">

                        <li><a href="#">«</a></li>

                        {% for i in range(  numpages   ) %}
                        <li><a href="./rohn?page={{i}}">{{i}}</a></li>
                        {% endfor %}

                        <li><a href="#">»</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:4px;">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                {% for i in page %}
                    {{i}}<br>
                {% endfor %}
            </div>

            <div class="col-md-3">
            </div>

        </div>

    </div>
</section>

</body>