<html>
<head>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/threejs/r76/three.min.js"></script>-->


    <script src="https://d3js.org/d3.v4.min.js"></script>

    <style>
        body {
            font-family:handwriting;
        }

        /*https://bl.ocks.org/mbostock/3885304*/
        .bar {
            fill: steelblue;
        }

        .bar:hover {
            fill: brown;
        }

        .axis--x path {
            display: none;
        }


    </style>
    <script>

        $('document').ready( function() {
            d3.select('.chart1')
                    .selectAll('div')
                    .data([1,2,3,4,5])
                    .enter()
                    .append('div')
                    .style('height',function(x){ return x *10;})
                    .style('background-color','grey')
                    .style('width','40px')
                    .style('border','solid 1px black')
                    .style('padding','2px')
                    .style('margin-left',function( x) {return 42*x }).text(function(x){return x;});


            var svg = d3.select("svg"),
                    margin = {top: 20, right: 20, bottom: 30, left: 40},
                    width = +svg.attr("width") - margin.left - margin.right,
                    height = +svg.attr("height") - margin.top - margin.bottom;

            var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
                    y = d3.scaleLinear().rangeRound([height, 0]);

            var g = svg.append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.csv("/data", function(d) {
                d.frequency = +d.frequency;
                return d;
            }, function(error, data) {
                if (error) throw error;

                x.domain(data.map(function(d) { return d.letter; }));
                y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

                g.append("g")
                        .attr("class", "axis axis--x")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x));

                g.append("g")
                        .attr("class", "axis axis--y")
                        .call(d3.axisLeft(y).ticks(10, "%"))
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", "0.71em")
                        .attr("text-anchor", "end")
                        .text("Frequency");

                g.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function(d) { return x(d.letter); })
                        .attr("y", function(d) { return y(d.frequency); })
                        .attr("width", x.bandwidth())
                        .attr("height", function(d) { return height - y(d.frequency); });
            });


        });

    </script>


</head>
<body>

<!-- nav bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">5 Kilo Stocks Ltd</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" onclick="javascript:go_home()">Equity</a></li>
            <li><a href="#">Indices</a></li>
            <li><a href="#">Derivatives</a></li>
            <li><a href="#" >Currency</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-left" >
                <!--<li>&nonbreakingspace;</li>-->
            </ul>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>

</nav>

<!-- left panel -->

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">
            <!--<div class="chart1"></div>-->
            <svg width="960" height="500"></svg>
        </div>

        <div class="col-sm-3">
        </div>

    </div>



</div> <!-- end container-->

</body>
</html>
