<html>
<head>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>


    <style>
        h1 {
            font-family: newspaper;
        }
        body {
            font-family:handwriting;
        }
        table {
            border : solid 1px grey;
            padding:1px;
            table-layout: fixed;
            word-wrap: break-word;
        }
        td {
            /*overflow:auto;*/
            word-wrap:break-word;
            word-break:break-word;
        }
        .catg{
            #background-color:lightsalmon;
            background-color:aliceblue;
            border:solid 1px lightslategrey;
            display:block;
            margin:2px;
            white-space: normal;
        }
        .item {
            width:300px;
            height:100px;
        }
        .item-text {
            word-wrap: break-word;
        }
        .filter {
            border :solid 1px grey;
            border-radius: 5px;
            padding:1px;
            margin-left:3px;
        }

    </style>

    <script>

        $(document).ready(function () {
            console.log( "## Welcome to the E-Store ## ");
        });

        function go_home() {
            document.location = '/i/a';
        }

        function a_resize() {
            $('img').css('height','100px');
        }

        function a_click(x) {
            console.log('redirecting to ' + x);
            window.open( x);
        }

        function a_sortby(x) {
            console.log('redirecting to ' + x);
            if( $('#sel_cat').val() != undefined) {
                var catg = $('#sel_cat').val();
                document.location = './?sort=' + x + '&category=' + catg;
                console.log('redirecting to ' + x + "/" + catg);
            }
            else {
                document.location = './?sort=' + x ;
            }
        }

        function get_category(x) {
            console.log('call for  ' + x);
            document.location = './?category=' + x;
        }
    </script>

</head>
<body>

<!-- nav bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">How it works </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" onclick="javascript:go_home()">Membership</a></li>
            <li><a href="#" >Deals & Offers</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-left" >
                <li>
                    <form  style="margin-top:5px;" class="form-inline" action="/" method="POST" >
                        <div class="form-group">
                            <input type="text" size="45" class="form-control" id="task" name="searchTerm">
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </form>
                    <!--<div style="border:solid 1px white;">-->
                        <!--<span style="color:white;"> Search box here </span>-->
                    <!--</div>-->
                </li>
                <!--<li>&nonbreakingspace;</li>-->
            </ul>
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
        </ul>
    </div>

</nav>

<!-- left panel -->

<div class="container-fluid">

    <div class="row">

        <!--categories on the left hand side-->

        <div class="col-sm-2">
        {% for c in  categories %}
            <div class=".btn-group-vertica">
                <button type="button" class="btn btn-block catg" id="{{c[0]}}" onclick="{{c[2]}}">
                    {{c[1]}}
                </button>
            </div>
        {% endfor %}
        </div>


        <div class="col-sm-9">

            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/static/images/1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4><a href="#">First Product</a>
                                </h4>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/static/images/2.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$64.99</h4>
                                <h4><a href="#">Second Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/static/images/3.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$74.99</h4>
                                <h4><a href="#">Third Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                </div>
            </div>
        </div>
    </div><!-- end row-->

    <div class="col-sm-1">
    </div>



</div> <!-- end container-->

</body>
</html>
